<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ee.allar.bank.account.mapper.BalanceMapper">

    <resultMap id="BalanceResultMap" type="ee.allar.bank.account.Balance">
        <id property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="currency" column="currency"/>
        <result property="balance" column="balance" typeHandler="ee.allar.bank.typehandler.MonetaryAmountTypeHandler"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insert"
            parameterType="ee.allar.bank.account.Balance"
            useGeneratedKeys="true"
            keyProperty="id,createdAt,updatedAt"
            keyColumn="id,created_at,updated_at">
        INSERT INTO balance (account_id, currency)
        VALUES (#{accountId}, #{currency})
    </insert>

    <update id="updateBalanceAmount" parameterType="ee.allar.bank.account.Balance">
        UPDATE balance
        SET balance = #{balance}
        WHERE id = #{id}
    </update>

    <select id="findForUpdate" resultMap="BalanceResultMap">
        SELECT id, account_id, currency, balance, created_at, updated_at
        FROM balance
        WHERE account_id = #{accountId}
          AND currency = #{currency}
            FOR UPDATE
    </select>

    <select id="findAllByAccountId" resultMap="BalanceResultMap">
        SELECT id, account_id, currency, balance, created_at, updated_at
        FROM balance
        WHERE account_id = #{accountId}
    </select>

</mapper>